.carousel-inner img {
    width: 100%;
    height: 70%;
  }
  /*
  .div{
      margin-bottom: 300px;
      margin-left: -800px;
      margin-top: 100px;
      padding: 10px;
  }*/
  
  /*
  .text{
      color: white;
  }
 */
  .carousel-inner h4 i{
    color: chartreuse;

  }
  .row{
      margin-top: 6px;
  }

  .sale{
    height: 500px;
}
.imagediv{
    height: 600px;
    width: 410px;
    text-align: center;
    /*margin: 5px;*/
}
.sales1,.sales2,.sales3,.sales4{
    background-color: rgb(6, 121, 160);
    float: left;
    margin: 5px;
    height: 80px;
    width: 80px;
    color: white;
    text-align: center;
}
.size1,.size2,.size3,.size4{
    float: left;
    border: 1px solid black;
    margin: 5px;
    height: 25px;
    width: 25px;
    text-align: center;
}
.color1,.color2,.color3{
    float: left;
    background-color: darkred;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 10px;
    margin-top: 7px;
}
.color1{
    background-color: yellow;
}
.color2{
    background-color: blue;
}
.color3{
    background-color:red;
}
.color,.size{
    float: left;
    margin: 5px;
}
.deals1{
    background-color:green;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 5px;
    margin-left: 15px;
}
.deals2{
    background-color: red;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 5px;
}
.deals3{
    background-color:blue;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 5px;
}
.star{
    background-color: yellow;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 5px;
}
.instagram,.fc{
    text-align: center;
}
.i1,.i2,.i3,.i4,.i5,.i6,.i7,.i8,.i9,.i10{
    height: 15px;
    width: 15px;
}
.footerimg{
    background-image: url(/Images/foo4.jpg);
    background-repeat:repeat;
    height: 500px;
    width: 100%;  
}
.s1{
    background-color: rgb(27, 27, 94);
    color: white;
    height: 50px;
    margin-top: 30px;
}
.s2{
    background-color: lightseagreen;
    color: white;
    height: 50px;
    margin-top: 30px;
}
.s3{
    background-color: purple;
    color: white;
    height: 50px;
    margin-top: 30px;
}
.s4{
    background-color: rgb(189, 36, 125);
    color: white;
    height: 50px;
    margin-top: 30px;
}
.s5{
    background-color: lightcoral;
    color: white;
    height: 50px;
    margin-top: 30px;
}
.s6{
    background-color: darkred;
    color: white;
    height: 50px;
    margin-top: 30px;
}
#footerp{
    color: white;
    text-align: center;
}
.footerlogo{
    margin-left: 400px;
    margin-right: 500px;
}
.footerd1{
    margin-left: 400px;
}
.person{
    margin-top: 100px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 400px;
}
#imgtext{
    color: white;
    text-align: center;
    font-weight: bold;
}
.divspecial{
    float: right;
    width: 300px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    height: 750px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.divbest,.divtop{
    text-align: center;
    font-weight: bold;
    background-color: white;
    height: 750px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.best1{
    height: 200px;
    width: 150px;
    border: 1px solid black;
}
#h5{
    font-family: 'Times New Roman', Times, serif;
}
#h6{
    color: red;
}
.cart,.heart,.eye,.undo{
    border: 1px solid black;
    height: 25px;
    width: 25px;
    float:left;
    margin: 1px;
}
.checked {
    color: #ffa500;
  }